apiVersion: v1
kind: Service
metadata:
  name: orchestrator-service
  namespace: perf-test
  labels:
    app: orchestrator
spec:
  type: ClusterIP
  selector:
    app: orchestrator
  ports:
  - name: http
    port: 8080
    targetPort: 8080
    protocol: TCP
  sessionAffinity: None
